   *{
    top:0;
    left:0;
    
   }
  
   .wrapper{
     padding-left:32%;
   }
   .navbar-brand{
        font-size: 1.8em;
        font-weight:700;
      }
    .nav-item:hover{
      background-color: rgb(119, 189, 227);
      border-radius:20px;
      padding:5px;
    }
    .con{
      height:650px;
      background:url('./Images/background4.jpg') no-repeat center center/Cover;
    }
    
      /* #topContainer {
        background:url('./Images/bg1.jpeg') no-repeat center center/Cover;
        height: 200px;
        width: 100%;
      } */
      #topRow{
        margin-top: 100px;
        text-align: center;

      }
      #topRow h1{
        font-size: 300%;
      }
      .bold{
        font-weight: bold;
      }
      .marginTop{
        margin-top: 30px;
      }
      .center{
        text-align: center;
      }
      .title{
        margin-top: 100px;
        font-size: 300%;
      }
      .con1{
        background-color:rgb(35, 30, 30);
        color: white;
        padding:20px;
        
      }
      .marginBottom{
        margin-bottom: 30px;
      }
      .appstoreImage{
        width:250px;
      }
